# Covid 19 Dataset

In [10]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

## Acquire

In [2]:
df = pd.read_csv(r'/Users/malachihale/codeup-data-science/covid-19-data/covid_data_log_200922.csv')

In [3]:
df.head()

,FIPS,stateFIPS,countyFIPS_2d,County,State,Cases,Deaths,Poverty,Population,W_Male,...,H_Male,H_Female,I_Male,I_Female,A_Male,A_Female,NH_Male,NH_Female,Risk_Index,Risk_Cat
0,1001,1,1,Autauga County,AL,10.590264,6.812345,10.916415,10.930765,10.651360,...,7.903227,7.787797,5.978886,6.100319,6.588926,6.778785,4.465908,4.317488,65.42,Above Average
1,1003,1,3,Baldwin County,AL,11.251171,6.864848,12.279579,12.315976,12.162852,...,9.734477,9.629182,7.908755,7.872455,7.756623,8.129764,5.537334,5.587249,68.39,Above Average
2,1005,1,5,Barbour County,AL,10.111517,5.043425,9.997843,10.113992,9.465448,...,7.552762,7.291656,5.652489,5.204007,4.844187,4.948760,4.276666,3.713572,97.09,High
3,1007,1,7,Bibb County,AL,9.520469,4.634729,9.914032,10.016548,9.777641,...,6.944087,6.746412,5.068904,5.017280,4.276666,4.290459,3.912023,2.772589,83.36,Above Average
4,1009,1,9,Blount County,AL,9.868430,4.406719,10.954973,10.965194,10.912649,...,9.092570,8.980424,6.383507,6.393591,5.446737,5.579730,4.624973,4.127134,81.75,Above Average

## Prepare

In [4]:
df.columns

Index(['FIPS', 'stateFIPS', 'countyFIPS_2d', 'County', 'State', 'Cases',
       'Deaths', 'Poverty', 'Population', 'W_Male', 'W_Female', 'B_Male',
       'B_Female', 'H_Male', 'H_Female', 'I_Male', 'I_Female', 'A_Male',
       'A_Female', 'NH_Male', 'NH_Female', 'Risk_Index', 'Risk_Cat'],
      dtype='object')

In [5]:
for col in df.columns:
    print(df[col].isnull().values.any())

False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False

In [14]:
#Train test split
train_validate, test = train_test_split(df, test_size=.2, random_state=123, stratify=df.Risk_Cat)

In [15]:
train_validate.head()

,FIPS,stateFIPS,countyFIPS_2d,County,State,Cases,Deaths,Poverty,Population,W_Male,...,H_Male,H_Female,I_Male,I_Female,A_Male,A_Female,NH_Male,NH_Female,Risk_Index,Risk_Cat
1473,28145,28,145,Union County,MS,9.612467,6.558198,10.248849,10.268651,10.052338,...,7.694848,7.469654,5.159055,5.093750,6.115892,5.726848,3.828641,3.295837,80.54,Above Average
105,4017,4,17,Navajo County,AZ,12.518000,9.116579,11.593703,11.616601,10.972551,...,9.964912,9.768755,10.814846,10.879047,6.668228,6.886532,5.828946,5.303305,61.21,Above Average
2244,42001,42,1,Adams County,PA,10.284933,6.866933,11.498451,11.542572,11.482600,...,9.398147,9.279866,6.470800,6.423247,6.841615,7.105786,4.477337,4.276666,33.62,Below Average
3117,55139,55,139,Winnebago County,WI,10.735113,6.666957,12.002732,12.054709,11.976603,...,9.358760,9.325364,7.537963,7.393878,8.614864,8.686936,5.153292,5.030438,20.82,Below Average
19,1039,1,39,Covington County,AL,10.087724,6.315358,10.501252,10.519997,10.334328,...,6.955593,6.963190,6.035481,5.968708,5.323010,5.407172,2.639057,2.564949,86.51,High

The DataFrame contains no null values.

In [6]:
scaler = MinMaxScaler()

In [7]:
X =  df[['Poverty', 'Population', 'W_Male', 'W_Female', 'B_Male',
       'B_Female', 'H_Male', 'H_Female', 'I_Male', 'I_Female', 'A_Male',
       'A_Female', 'NH_Male', 'NH_Female']]

In [8]:
scaler.fit(X)

MinMaxScaler()

In [9]:
X_scaled = scaler.transform(X)