# Covid 19 Dataset

In [12]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

## Acquire

In [2]:
df = pd.read_csv(r'/Users/malachihale/codeup-data-science/covid-19-data/covid_data_log_200922.csv')

In [3]:
df.head()

,FIPS,stateFIPS,countyFIPS_2d,County,State,Cases,Deaths,Poverty,Population,W_Male,...,H_Male,H_Female,I_Male,I_Female,A_Male,A_Female,NH_Male,NH_Female,Risk_Index,Risk_Cat
0,1001,1,1,Autauga County,AL,10.590264,6.812345,10.916415,10.930765,10.651360,...,7.903227,7.787797,5.978886,6.100319,6.588926,6.778785,4.465908,4.317488,65.42,Above Average
1,1003,1,3,Baldwin County,AL,11.251171,6.864848,12.279579,12.315976,12.162852,...,9.734477,9.629182,7.908755,7.872455,7.756623,8.129764,5.537334,5.587249,68.39,Above Average
2,1005,1,5,Barbour County,AL,10.111517,5.043425,9.997843,10.113992,9.465448,...,7.552762,7.291656,5.652489,5.204007,4.844187,4.948760,4.276666,3.713572,97.09,High
3,1007,1,7,Bibb County,AL,9.520469,4.634729,9.914032,10.016548,9.777641,...,6.944087,6.746412,5.068904,5.017280,4.276666,4.290459,3.912023,2.772589,83.36,Above Average
4,1009,1,9,Blount County,AL,9.868430,4.406719,10.954973,10.965194,10.912649,...,9.092570,8.980424,6.383507,6.393591,5.446737,5.579730,4.624973,4.127134,81.75,Above Average

## Prepare

In [11]:
df.columns

Index(['FIPS', 'stateFIPS', 'countyFIPS_2d', 'County', 'State', 'Cases',
       'Deaths', 'Poverty', 'Population', 'W_Male', 'W_Female', 'B_Male',
       'B_Female', 'H_Male', 'H_Female', 'I_Male', 'I_Female', 'A_Male',
       'A_Female', 'NH_Male', 'NH_Female', 'Risk_Index', 'Risk_Cat'],
      dtype='object')

In [10]:
for col in df.columns:
    print(df[col].isnull().values.any())

False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False

The DataFrame contains no null values.

In [13]:
scaler = MinMaxScaler()

In [14]:
X =  df[['Poverty', 'Population', 'W_Male', 'W_Female', 'B_Male',
       'B_Female', 'H_Male', 'H_Female', 'I_Male', 'I_Female', 'A_Male',
       'A_Female', 'NH_Male', 'NH_Female']]

In [15]:
scaler.fit(X)

MinMaxScaler()

In [16]:
X_scaled = scaler.transform(X)